*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff59;
  --secondary-color: #fff;
  --healthy: #195839;
  --diseased: #ee3737;
}
body {
  position: relative;
  color: #333333;
  min-height: 110%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background: url(./assets/background.png);
  height: 100vh;
  width: 100%;
  color: var(--primary-color);
}
.upload-button-enter {
  opacity: 0;
}
.upload-button-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.upload-button-exit {
  opacity: 1;
}
.upload-button-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.disclaimer {
  text-align: center;
  margin-top: 12px;
}
